@import url("https://fonts.googleapis.com/css?family=Tangerine");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(back2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
    animation: animate 5s linear infinite;

}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    width: 310px;
    margin: 30px 0;
    position: relative;
    border: 2px solid #fff;
    border-radius: 5px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .3s ease;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding-left: 35px;  /* Space for the label */
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    font-size: 0.9em;
}

.input-box .icon {
    position: absolute;
    right: 10px; /* Position the icon on the right */
    color: #fff;
    font-size: 1.2em;
    line-height: 50px; /* Center the icon vertically */
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #000;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.register_link {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.register_link a {
    color: #fff;
    text-decoration: none;
}
@media(max-width:360px){
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius:0% ;
    }
}
